 * {
            text-align: center;
        }

        .colorContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

        }

        .color {
            border: 4px solid black;
            border-radius: 50%;
            height: 250px;
            width: 250px;
            margin: 4px 0;
        }

        .one {
            background-color: red;
        }

        .two {
            background-color: green;
        }

        .three {
            background-color: skyblue;
        }

        .four {
            background-color: lightpink;
        }

        .flash {
            background-color: white;
        }